@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;scroll-behavior: smooth;font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg-color);
    display: flex;
}

:root {
    --greencard-color: rgb(38, 163, 142);
    --redcard-color: rgb(211, 86, 64);
    --yellowcard-color: rgb(231, 216, 77);
    --bluecard-color: rgb(51, 118, 173);
    --btn-color: rgb(71, 163, 148);
    --text-color: rgb(255, 255, 255);
    --textblack-color: rgb(0, 0, 0);
    --bg-color: rgb(255, 255, 255);
}

.contant {
    padding: 1rem;
}

@media screen and (min-width: 300px) {
    .contant {
        max-width: 880px;
        margin: 0 auto;
    }
    
    .pokemons {
        max-width: 375px;
        margin: 0 auto;
        border: red solid;
}

.contant h1 {
    font-size: 1.8rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

i {
    font-size: 1.5rem;
    color: var(--textblack-color);
    padding: .3rem;
}

a i:hover {
    border-radius: 1rem;
    cursor: pointer;
    background-color: rgb(238, 237, 237);
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /*divide meio a meio*/
    color: var(--text-color);
}

.pokemon {
    margin: .2rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: var(--greencard-color);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    width: 160px;
}

.pokemon:hover {
    transform: scale(1.1);
}

#red {
    background-color: var(--redcard-color);
}


#red .type {
    background-color: var(--redcard-color);
}

#yellow {
    background-color: var(--redcard-color);
}

.number {
    text-align: end;
    opacity: .6;
    font-size: .6rem;
}

.name {
    font-size: .70rem;
}

li .type {
    background-color: rgb(74, 160, 163);
    border-radius: .5rem;
    padding: .05rem .4rem ;
    line-height: 1rem;
    font-size: .5rem;
    border: none;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 60px;
}
}