@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;scroll-behavior: smooth;font-family: 'Roboto', sans-serif;
}

:root {
    --greencard-color: rgb(0, 128, 107);
    --redcard-color: rgb(211, 56, 8);
    --bluecard-color: rgb(51, 118, 173);
    --btn-color: rgb(71, 163, 148);
}

.contant {
    padding: 1rem;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /*divide meio a meio*/
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--greencard-color);
    display: flex;
    flex-direction: column;
}

.number {
    text-align: end;
    opacity: .6;
}

.name {
    font-size: .85rem;
}

li .type {
    background-color: var(--btn-color);
    border-radius: .5rem;
    padding: .1rem .2rem ;
    line-height: 1rem;
    font-size: .8rem;
}

.detail {
    display: flex;
    align-items: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 85px;
    align-self: flex-end;
}